<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title role="heading" aria-level="1">
            Form
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title role="heading" aria-level="1" size="large">Form</ion-title>
        </ion-toolbar>
    </ion-header>

    <form (ngSubmit)="validate()">
        <ion-item>
            <ion-label position="floating">Your Name</ion-label>
            <ion-input name="name" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input name="phone" type="number" [(ngModel)]="phone"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Zip Code</ion-label>
            <ion-input name="zip" type="number" [(ngModel)]="zip"></ion-input>
        </ion-item>

        <ion-toolbar>
            <div id="announce" aria-live="polite">
                <ion-text>{{message}}</ion-text>
            </div>
            <ion-button slot="end" type="submit">Submit</ion-button>
        </ion-toolbar>
    </form>

    <button (click)="go()">
        <ion-icon name="airplane-outline"></ion-icon>
    </button>


    <!-- Modal -->
    <!-- Nav -->
    <!-- Loading -->
    <!-- Progress -->
    <!-- Refresher -->
    <!-- Reorder -->
    <!-- Searchbar -->
    <!-- Select -->
    <!-- Slides -->
    <!-- Grid -->
    <!-- Toast -->
    <!-- Toolbar -->
    <!-- Text -->

</ion-content>